/* RESET */
a {
    color: inherit;
}

/* UTILITY */
.bg-color-navbar {
    background-color: rgb(44,62,80)
}
.bg-color-greenw {
    background-color: rgb(26,188,156);
}
.bg-color-footer {
    background-color: rgb(58,84,109);
}
.bg-color-copyright {
    background-color: rgb(44,62,80);
}

/* --- */
#section-portfolio,
#section-contact {
    color: rgb(44,62,80);
}

/* Navbar */
.bg-body-tertiary {
    background-color: rgb(44,62,80) !important;
}
.navbar-toggler {
    background-color: rgb(44,62,80);
    color: white;
}

.nav-link {
    color: white;
    vertical-align:bottom;
}

@media screen and (min-width:768px) {
    .nav-link {
        font-size: 22px;
    }
}
@media screen and (min-width:992px) {
    .nav-link {
        font-size: 25px;
    }
}

/* Stella */
.stellina::before,
.stellina::after {
    content: '';
    display: inline-block;
    width: 30%;
    border: 0.15rem solid;
    vertical-align: super;
    border-radius: 2px;
}

/* form personalizzato */
.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: 1.5rem;
}

.btn-success {
    background-color: rgb(26,188,156);;
}
.btn-success:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* Icone Footer */
footer .fa-brands {
    font-size: 2rem;
    border: 1px solid white;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    line-height: 4.5rem;
}
@media screen and (max-width:400px) {
    footer .fa-brands {
        font-size: 1.5rem;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
    }
}