/* UTILITY */

.bg-color-greenw {
    background-color: rgb(26,188,156);
}

.width-100 {
    width: 100%;
}


.stellina::before,
.stellina::after {
    content: '';
    display: inline-block;
    width: 30%;
    border: 0.15rem solid;
    vertical-align: super;
    border-radius: 2px;
}

#section-images {
    color: rgb(44,62,80);
}